*{
padding: 0;
margin: 0;
box-sizing: border-box;


}

.gameWindow{

 width: 90%;
 height: 500px;
 border: solid 2px;
 border-color: black;
 position: relative;
 overflow: hidden;
 margin: auto;
 margin-top: 30px;
border-bottom: green solid 3px;
background: linear-gradient(#00BFFF	,#FFF8DC	);

}
#score{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  margin-left: 15px;
  margin-top: 15px;
}
.clouds{

  position: absolute;
  width: 350px;
  top: 0;
  animation: clouds-animation 15s infinite linear;

}
.sun{

  width: 150px;
  position: absolute;
  right: 0;
  top: 0;
}
  
.homer{
width: 150px;
bottom: 0;
position: absolute;
padding: 0;

}
.jump{
animation: jump 500ms ease-out;

} 
@keyframes clouds-animation{

   from{

    right:-300px;

   }
   to{

    right: 100%;

   }


} 

@keyframes jump {

    0%{
        bottom: 0;
    }

    50%{
        bottom: 180px;
    }
    60%{

      bottom: 160px ;
    }
    70%{

      bottom: 150px;

    }
    80%{

      bottom:130px ;

    }
    90%{

     bottom: 110px;

    }
    
    100%{ 

        bottom: 0px;

    }

}

@keyframes duff-animation {
  from{

    right: -90;
  }
  to {

    right: 100%;

  }

}

.duff{

 position: absolute;
 right: 0;
 width: 100px;
 bottom: 0;
 animation: duff-animation  1.4s infinite linear;
 padding: 0;
 margin-bottom: 0;
}